.index_cell {
	height : 270px;
}

.thumb img {
	max-height : 180px;
	max-width : 120px;
	height : auto;
	width : auto;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.5);
}

.thumb.read img {
	opacity : 0.25;
}

.in_progress {
	font-style : italic;
}

.caption div {
	overflow : hidden;
	text-overflow: ellipsis;
	white-space : nowrap;
}

.qtip-custom {
	max-height : 250px;
	overflow : auto;
}
