body, .loading, html:-webkit-full-screen {
	background : #eeeeee;
	color : #424242;
}

body .header,
body .footer {
	color : #B85C57;
}

body .footer .spacer .toc-bar-entry.current-position {
	background : #B85C57;
}