body, .loading {
	background : #3B3228;
	color : #D0C8C6;
}

body a {
	color : #8AB3B5;
}

body a:hover {
	color : #7BBDA4;
}

body .header,
body .footer {
	color : #F4BC87;
}

body .footer .location {
	color : #BEB55B;
}

body .header button.btn {
	background : #BB9584;
	color : #534636;
	text-shadow : #534636 0px 0px;
	border-color : #534636;
}
