body, .loading, html:-webkit-full-screen {
	background : #222;
	color : #ccc;
}

body a, a:hover {
	color : #00bdaa;
}

body .modal {
	color : #333;
}

body .footer .spacer .toc-bar-entry.current-position {
	background : darkred;
}